[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
s2clientprotocol = "*"
burnysc2 = "*"
pipfile = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
